$mdc-typography-styles-headline1: (
    font-family: unquote("Gravitas One"),
    font-size: 94
);
$mdc-typography-styles-headline2: (
    font-family: unquote("Gravitas One"),
    font-size: 59
);
$mdc-typography-styles-headline3: (
    font-family: unquote("Gravitas One"),
    font-size: 47
);
$mdc-typography-styles-headline4: (
    font-family: unquote("Gravitas One"),
    font-size: 33
);
$mdc-typography-styles-headline5: (
    font-family: unquote("Gravitas One"),
    font-size: 24
);
$mdc-typography-styles-headline6: (
    font-family: unquote("Gravitas One"),
    font-size: 20
);
$mdc-typography-styles-body1: (
    font-family: unquote("Glegoo"),
    font-size: 15
);
$mdc-typography-styles-body2: (
    font-family: unquote("Glegoo"),
    font-size: 13
);
$mdc-typography-styles-subtitle1: (
    font-family: unquote("Gravitas One"),
    font-size: 16
);
$mdc-typography-styles-subtitle2: (
    font-family: unquote("Gravitas One"),
    font-size: 14
);
$mdc-typography-styles-button: (
    font-family: unquote("Glegoo"),
    font-size: 13
);
$mdc-typography-styles-overline: (
    font-family: unquote("Glegoo"),
    font-size: 9
);
$mdc-typography-styles-caption: (
    font-family: unquote("Glegoo"),
    font-size: 11
);